{% extends 'base.html' %}
 {% block jq %}

    <script
  src="https://code.jquery.com/jquery-1.11.3.js"
  integrity="sha256-IGWuzKD7mwVnNY01LtXxq3L84Tm/RJtNCYBfXZw3Je0="
  crossorigin="anonymous"></script>

  {% endblock %}

{% block singin %}
  <link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}


{% block table %}
<div class="container">
      <form class="form-signin" method="post" action="/forget/" onsubmit="return for_password();">
          <h2 class="form-signin-heading">重置密码</h2>

        <label for="inputEmail" class="sr-only">邮箱</label>
        <input type="text" value="{{ login_form.data.username }}" name="email"  class="form-control" placeholder="邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name = 'password' id="inputPassword" class="form-control" placeholder="新的密码" required>

          <label for="inputPasswordagain" class="sr-only">再输入密码</label>
        <input type="password" id="inputPasswordagain" class="form-control" id="inputPasswordagain" placeholder="再输入密码" required>


           {{ forgetform.captcha }}
          {{ forgetform.errors.captcha }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
           {% csrf_token %}
      </form>

    </div> <!-- /container -->



{% endblock %}


{% block refresh %}

    <script src="/static/js/Refresh.js"></script>

{% endblock %}

{% block register %}


    <script>

function for_password() {
            if ($('#inputPassword').val()!=$('#inputPasswordagain').val()){
                alert('两次输入密码不一样')

                return false
            }
        }

{%  if msg == 'true' %}
    alert('修改密码验证已经发送到你的邮箱 查看邮箱验证之后就能重置密码,请注意邮箱的垃圾箱')
    window.location.href="/login/";
{% endif %}
    {% if msg == 'error' %}
    alert('抱歉，注册邮件发送失败,若出现问题联系管理员 qq507648637')

{% endif %}

    </script>
{% endblock %}