
<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>喝酒不叫我</title>

<script
  src="https://code.jquery.com/jquery-1.11.3.js"
  integrity="sha256-IGWuzKD7mwVnNY01LtXxq3L84Tm/RJtNCYBfXZw3Je0="
  crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        
          <a class="navbar-brand" href="/">喝酒不叫我</a>
        
       
      </div>
    </nav>

    <div class="container">

      <form class="form-signin" method="post" action="/login/">
          <h2 class="form-signin-heading">登陆</h2>

          {{ msg }}
        <label for="inputEmail" class="sr-only">账号</label>
        <input type="text" value="{{ login_form.data.username }}" name="username"  class="form-control" placeholder="用户名或邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name = 'password' id="inputPassword" class="form-control" placeholder="密码" required>
 {{ login_form.errors.password }}

          {{ login_form.captcha }}
{{ login_form.errors.captcha }}

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
              <a href="/register/">没有账号？立即注册</a>
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            {% csrf_token %}
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/workaround.js"></script>
  </body>



<script>    //验证码点击刷新
		$('img.captcha').click(function() {
			$.getJSON('/captcha/refresh/',function(json) {
                // This should update your captcha image src and captcha hidden input
				console.log(json);
				$("img.captcha").attr("src",json.image_url);
				$("#id_captcha_0").val(json.key);
			});

			return false;
		});
</script>



</html>
