
{% extends 'base.html' %}
 {% block jq %}

    <script
  src="https://code.jquery.com/jquery-1.11.3.js"
  integrity="sha256-IGWuzKD7mwVnNY01LtXxq3L84Tm/RJtNCYBfXZw3Je0="
  crossorigin="anonymous"></script>

  {% endblock %}

{% block singin %}
  <link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block table %}

    <div class="container">

      <form class="form-signin" method="post" action="/login/">
          <h2 class="form-signin-heading">登陆</h2>

          {{ msg }}
        <label for="inputEmail" class="sr-only">账号</label>
        <input type="text" value="{{ login_form.data.username }}" name="username"  class="form-control" placeholder="用户名或邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name = 'password' id="inputPassword" class="form-control" placeholder="密码" required>
 {{ login_form.errors.password }}

          {{ login_form.captcha }}
{{ login_form.errors.captcha }}

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住密码
              <a href="/register/">没有账号？立即注册</a>
               <a href="/forget/">忘记密码</a>
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            {% csrf_token %}
      </form>

    </div> <!-- /container -->


 {% endblock %}



{% block refresh %}

    <script src="/static/js/Refresh.js"></script>

{% endblock %}



